SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=44.212.187.108
CSRF_TRUSTED_ORIGINS=http://44.212.187.108

DB_NAME=lyn_furniture
DB_USER=lyn_user
DB_PASSWORD=your-db-password
DB_HOST=localhost
DB_PORT=5432
